<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorization request</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.22/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.22/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.22/js/uikit-icons.min.js"></script>
    <style>
        html, body{
            margin: 0;
            padding: 0;
            height: 100%;
        }
        body{
            background: #2193b0; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        /* Fix collapse bug */
        body::before{
            content: "";
            display: table;
        }
        .auth-card{
            margin: 100px auto;
            max-width: 850px;
        }
        .ul-item-content{
            position: relative;
            top: 2px;
            left: 10px;
        }
    </style>
</head>
<body>
    <div class="auth-card uk-card uk-card-default">
        <form method="POST">
            <div class="uk-card-header">
                <h2>{{ .AppName }} would like to:</h2>
            </div>
            <div class="uk-card-body">
                <div class="uk-margin">
                    <label class="uk-form-label" for="input-name">Your name:</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="input-name" type="text" placeholder="Name" name="name" value="kevin">
                    </div>
                </div>
                <ul class="uk-list uk-list-divider">
                    {{ range .Scopes }}
                    <li><span uk-icon="nut"></span><span class="ul-item-content">{{ .Description }}</span></li>
                    {{ end }}
                </ul>
            </div>
            <div class="uk-card-footer">
                <input type="hidden" name="scope" value="{{ .ScopesString }}">

                <button type="submit" name="deny" class="uk-button uk-button-danger">Deny</button>
                <button type="submit" name="allow" class="uk-button uk-button-primary">Allow</button>
            </div>
        </form>
    </div>
</body>
</html>